<div class="icon align-center align margin-center">
  <a routerLink="/accueil">
  <button mat-icon-button>
    <div style="font-size: 42px">
      <mat-icon [inline]="true">home</mat-icon>
    </div>
  </button>
  </a>
</div>
<div class="container" *ngIf="user">
  <div class="title align-center align">
    <h1 style="text-align: center">Profil</h1>
  </div>
  <div class="left-subtitle align">
    Vos informations
  </div>
  <div class="right-subtitle align">
    Gestions des accueillis
  </div>
  <div class="one align-center">
    <div class="inner-form">
      <div class="one-inner align" style="font-size: 17px">
        Nom : {{this.user.name}}
        <br>
        E-mail : {{this.user.email}}
      </div>
      <div class="two-inner align">
        <button mat-stroked-button class="margin-center" color="grey" [style.width.px]="300" >Mes quiz</button>
      </div>
      <div class="three-inner align">
        <button mat-stroked-button class="margin-center" color="grey" [style.width.px]="300" >Déconnexion</button>
      </div>
    </div>
  </div>
  <div class="two align-center">
    <div class="inner-form-bis">
      <div class="inner-form-bis-list-container margin-center">
        <mat-list *ngFor="let senior of seniors">
          <mat-list-item (click)="chooseSenior(senior)" class="item-list">
            <div class="inner-list-container">
              <div class="align align-center inner-list-left">
                {{senior.name}}
              </div>
              <div class="inner-list-right align align-center">
                <button class="margin-center" mat-icon-button aria-label="Supprimer">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="inner-form-bis-new-senior align">
        <button routerLink="creation/senior" mat-stroked-button class="margin-center" color="grey" [style.width.px]="300" >Ajouter un nouvel accueilli</button>
      </div>
    </div>
  </div>
</div>
