<div class="rectangle container" [ngStyle]="{'width' : with,'height' : height}">
  <div class="one align text" (click)="clickOnTile(choices[0])" [ngStyle]="showResult && choices[0] ? {'background' : correctColor(choices[0])} : {}">
    <span>{{choices[0] ? choices[0].value : ""}}</span>
  </div>
  <div class="two align text" (click)="clickOnTile(choices[1])" [ngStyle]="showResult && choices[1] ? {'background' : correctColor(choices[1])} : {}">
    {{choices[1] ? choices[1].value : "" }}
  </div>
  <div class="three align text" (click)="clickOnTile(choices[2])" [ngStyle]="showResult && choices[2] ? {'background' : correctColor(choices[2])} : {}">
    {{choices[2] ? choices[2].value : ""}}
  </div>
  <div class="four align text" (click)="clickOnTile(choices[3])" [ngStyle]="showResult && choices[3] ? {'background' : correctColor(choices[3])} : {}">
    {{choices[3] ? choices[3].value : ""}}
  </div>
</div>
