<div class="container" *ngIf="senior && configuration">
  <div class="border-left"></div>
  <div class="border-right"></div>
  <div class="left-title title align align-center">
    Configuration
  </div>
  <div *ngIf="fullScreenPreview" class="align align-center margin-center full-screen-preview-title">
    <div style="grid-column: 1;grid-row: 1;" class="align-center align margin-center">
      <button mat-icon-button>
        <div style="font-size: 42px">
          <mat-icon [style.color]="this.fullScreenPreview ? 'blue' : 'black'" (click)="activateFullScreenPreview()" [inline]="true">visibility</mat-icon>
        </div>
      </button>
    </div>
    <div style="grid-column: 3;grid-row: 1" class="restart-icon align-center align margin-center">
      <button (click)="restartPreview()" mat-icon-button>
        <div style="font-size: 42px">
          <mat-icon [inline]="true">restart_alt</mat-icon>
        </div>
      </button>
    </div>
    <div style="grid-column: 2;grid-row: 1" class="right-title title align align-center">
      Prévisualisation
    </div>
  </div>
  <div class="eye-icon align-center align margin-center">
    <button mat-icon-button>
      <div style="font-size: 42px">
        <mat-icon [style.color]="this.fullScreenPreview ? 'blue' : 'black'" (click)="activateFullScreenPreview()" [inline]="true">visibility</mat-icon>
      </div>
    </button>
  </div>
  <div class="restart-icon align-center align margin-center">
    <button (click)="restartPreview()" mat-icon-button>
      <div style="font-size: 42px">
        <mat-icon [inline]="true">restart_alt</mat-icon>
      </div>
    </button>
  </div>
  <div class="right-title title align align-center">
    Prévisualisation
  </div>
  <div class="left-config">
    <div class="sub-left-title align-center align">
      {{senior.name}} - Daltonisme
    </div>
    <div class="margin-center align sub-left-name-input">
      <mat-form-field appearance="fill" [style.width.px]=300>
        <mat-label>Nom de la configuration</mat-label>
        <input [(ngModel)]="configuration.name" matInput placeholder="Default" required>
      </mat-form-field>
    </div>
    <div class="margin-center align sub-left-voice-activate">
      <mat-slide-toggle
        class="align-center margin"
        [(ngModel)]="configuration.config.activate_voice">
        Activer la lecture à haute <br> voix des questions/réponses
      </mat-slide-toggle>
    </div>
    <div class="margin-center align sub-left-boldAnswers">
      <mat-slide-toggle
        class="align-center margin"
        [(ngModel)]="configuration.config.boldAnswers">
        Réponses en gras
      </mat-slide-toggle>
    </div>
    <div class="margin-center align align-center sub-left-radius-slider">
      Taille de la police
      <mat-slider
        [(ngModel)]="configuration.config.fontSize"
        thumbLabel
        step="1"
        min="16"
        max="40"
        aria-label="units">
      </mat-slider>
    </div>
    <div>
      <label class="margin-center align align-center" for="head1">Couleur bonne réponse</label>
      <input class="margin-center align" type="color" id="head1" name="head" [(ngModel)]="configuration.config.trueColor"
             value="#e66465">
    </div>
    <div>
      <label class="margin-center align align-center" for="head2">Couleur mauvaise réponse</label>
      <input class="margin-center align" type="color" id="head2" name="head" [(ngModel)]="configuration.config.falseColor"
             value="#e66465">
    </div>
    <div>
      <mat-checkbox class="margin-center align" [(ngModel)]="configuration.config.darkColor">couleur foncées</mat-checkbox>
    </div>
  </div>
  <div class="preview-container" [class.full-screen-preview-container]="fullScreenPreview">
    <div class="preview-title align align-center">
      Quelle est la capitale de l'italie ?
    </div>
    <div class="margin-center align-center align">
      <app-quiz-rectangular [showResult]="hasAnswered" [falseAnswerCallback]="falseAnswerFunction"
                            [goodAnswerCallback]="goodAnswerFunction" [falseColor]="configuration.config.falseColor"
                            [boldAnswers]="configuration.config.boldAnswers" [fontSize]="configuration.config.fontSize"
                            [trueColor]="configuration.config.trueColor" [darkColor]="configuration.config.darkColor" [choices]="falseChoices">
      </app-quiz-rectangular>
    </div>
  </div>
  <div class="margin-center align align-center save-button">
    <button (click)="save()" mat-stroked-button color="grey">Enregistrer</button>
  </div>
</div>
