<div class="container" *ngIf="quiz && quizGame && config">
  <div class="align align-center margin-center custom-title" >{{quiz?.name}}</div>
  <div class="align-center align margin-center">
    <p *ngIf="currentQuestion" class="question-font"><span *ngIf="quizGame" >Question n°{{quizGame.round + 1}} : </span>{{currentQuestion.label}}</p>
  </div>
  <div class="align-center align margin-center">
    <app-quiz-circular *ngIf="config.circle_quiz" [percentWidth]="config.radius" [falseAnswerCallback]="falseAnswerFunction" [goodAnswerCallback]="goodAnswerFunction" [choices]="currentAnswers" [showResult]="hasAnswered"></app-quiz-circular>
    <app-quiz-rectangular *ngIf="!config.circle_quiz" [percentWidth]="config.radius" [falseAnswerCallback]="falseAnswerFunction" [goodAnswerCallback]="goodAnswerFunction" [choices]="currentAnswers" [showResult]="hasAnswered"></app-quiz-rectangular>
  </div>
  <div class="align-center align margin-center" *ngIf="hasAnswered">
    <button mat-stroked-button color="grey" [disabled]="!hasAnswered" (click)="nextQuestion()">Question suivante</button>
  </div>
</div>
