<div class="container" *ngIf="quiz && quizGame && config">
  <div class="align align-center margin-center custom-title" >{{quiz?.name}}</div>
  <div class="align-center align margin-center">
    <p class="question-font" *ngIf="currentQuestion"><span *ngIf="quizGame">Question n°{{quizGame.round + 1}} : </span>{{currentQuestion.label}}</p>
  </div>
  <div class="align-center align margin-center">
    <app-quiz-rectangular [showResult]="hasAnswered" [falseAnswerCallback]="falseAnswerFunction"
                          [goodAnswerCallback]="goodAnswerFunction" [falseColor]="config.falseColor"
                          [boldAnswers]="config.boldAnswers" [fontSize]="config.fontSize"
                          [trueColor]="config.trueColor" [darkColor]="config.darkColor" [choices]="currentAnswers">
    </app-quiz-rectangular>
  </div>
  <div class="align-center align margin-center" *ngIf="hasAnswered">
    <button mat-stroked-button color="grey" [disabled]="!hasAnswered" (click)="nextQuestion()">Question suivante</button>
  </div>
</div>
